.square-field {
  width: 100%;
  border: 1px solid var(--gray-color);
  height: 3.3rem;
  background: var(--secondary-color);
  color: var(--gray-color);
  padding: 0 0.5rem;
  font-family: 'Roboto Mono';
  font-size: var(--font-xs);
  box-sizing: border-box;

  &::placeholder {
    color: var(--gray-color);
  }

  &:focus {
    outline: none;
    border-color: var(--primary-color);
    color: var(--dark-color);
  }
}

.square-field__msj-error {
  display: block;
  box-sizing: border-box;
  margin: 0.5rem 0;
  color: var(--primary-color);
  font-size: var(--font-xxs);
  font-family: 'Roboto Mono';
  font-weight: 400;
}

.square-field__textarea {
  height: 7rem;
  padding-top: 0.5rem;
}