:host {
  display: block;
}

@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-family: "Open Sans";
  font-weight: 600;
  outline: none;
  box-shadow: 2px 2px 0px rgba(0,0,0,0.8);
}

button:active {
  animation: clickAnimation 0.3s;
}

button:disabled {
  pointer-events: none;
  background: var(--gray-color);
  color: var(--dark-color);
}

.square-btn__primary {
  background: var(--primary-color);
}

.square-btn__full {
  width: 100%;
  height: 3.75rem;
  font-size: var(--font-sm);
  border: 1px solid var(--dark-color);
}

