:host {
  display: block;
}

@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-family: "Open Sans";
  font-weight: 600;
  outline: none;
  box-shadow: 2px 2px 0px rgba(0,0,0,0.8);
}

button:active {
  animation: clickAnimation 0.3s;
}

button:disabled {
  pointer-events: none;
  background: var(--gray-color);
  color: var(--dark-color);
}

.square-btn__primary {
  background: var(--primary-color);
}

.square-btn__minimal {
  font-family: "Open Sans";
  font-weight: 700;
  box-sizing: border-box;
  box-shadow: 2px 2px 0px rgba(0,0,0,0.8);
  font-size: var(--font-xs);
  background: var(--white);
  border: 1px solid var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

.square-btn__full {
  width: 100%;
  height: 3.75rem;
  font-size: var(--font-sm);
  border: 1px solid var(--dark-color);
}

.loader {
  border: 2px solid #f3f3f3; 
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 8px; 
  cursor: not-allowed;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}