:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

dialog {
  border: none;
  animation: fade-out 0.7s ease-out;
  position: relative;
  display: flex;
  justify-content: center;
}

dialog[open] {
  animation: fade-in 0.7s ease-out;
}

dialog[open]::backdrop {
  animation: backdrop-fade-in 0.7s ease-out forwards;
}

.square-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
}

@media (max-width: 640px) {
  dialog {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  dialog[open] {
    animation: none;
  }

  dialog[open]::backdrop {
    animation: none;
  }
}

/* Animation keyframes */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes backdrop-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}