:host {
  display: block;
}

.task-container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.task-container__title {
  font-size: 1.5rem;
  font-family: "Roboto Mono";
  font-weight: 500;
  line-height: 31px;
  margin: 0;
}