<app-square-header></app-square-header>
<section class="task-container">
    <h1 class="task-container__title">My Tasks</h1>
    <app-square-button (click)="setActionTask('new', null)" class="mt-1"
        [squareButton]="{type: 'button', uppercase: true, style: 'minimal', size: 'small'}">
        <img src="assets/svg/add.svg" alt="Add">
        Add
    </app-square-button>
    <div class="task-container__list" *ngIf="tasks().length > 0">
        <app-square-task *ngFor="let task of tasks()" [task]="task"
            (action)="setActionTask($event, task)"></app-square-task>
    </div>
    <div class="task-container__empty" *ngIf="tasks().length === 0">
        Empty task list
    </div>
    <!-- Modal Dialog task -->
    <app-square-dialog [showDialog]="showDialogTask" (actionDialog)="setActionTask(null, null)">
        <h2 class="task-modal__title">
            {{ actionTask() === 'new' ? 'New Task' : 'Edit Task' }}
        </h2>
        <form (ngSubmit)="onSubmitTask()">
            <app-square-field [(ngModel)]="currentTask().title" name="title"
                [fieldOptions]="{ placeholder: 'Title', validations: ['required'], typeField: 'input'}"
                (validationError)="errorFormTask.set($event)"></app-square-field>
            <app-square-field class="mt-1" [(ngModel)]="currentTask().description" name="description"
                [fieldOptions]="{ placeholder: 'Description', typeField: 'textarea'}"></app-square-field>
            <section class="task-modal__actions">
                <app-square-toggle [isToggled]="currentTask().completed"
                    (toggle)="updateStatusTask($event)"></app-square-toggle>
                <div>
                    <app-square-button *ngIf="actionTask() === 'edit'"
                        (click)="onSubmitTask('delete')"
                        [squareButton]="{ uppercase: true, style: 'minimal', size: 'small', type: 'button'}">
                        <span class="task-modal__edit">
                            Delete
                        </span>
                    </app-square-button>
                    <app-square-button
                        [squareButton]="{ uppercase: true, style: 'primary', size: 'small', type: 'submit', disabled: errorFormTask()}">
                        {{ actionTask() === 'edit' ? 'Edit': 'Save'}}
                    </app-square-button>
                </div>
            </section>
        </form>
    </app-square-dialog>
</section>