:host {
  display: block;
  box-sizing: border-box;
}

.task-container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.task-container__title {
  font-size: 1.5rem;
  font-family: "Roboto Mono";
  font-weight: 500;
  line-height: 31px;
  margin: 0;
}

.task-container__list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

.task-modal__title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: var(--font-md);
  
}

.task-modal__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.task-modal__actions > div {
  display: flex;
  gap: 1rem;
}

.task-modal__edit {
  padding: 0.25rem 0;
}

.task-container__empty { 
  width: 100%;
  text-align: center;
  margin-top: 40%;
  font-size: var(--font-md);
  color: var(--gray-color);
  font-family: 'Roboto Mono';
  overflow: hidden;
}