:host {
  display: flex;
  width: 100%;
}

.square-header {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 10;
  background: var(--light-color);
  // height: 5rem;
  padding: 1rem 0;
  box-shadow: 2px -2px 10px rgba(3,3,3,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-header > h1 {
  margin: 0;
  font-size: var(--font-md);
  font-weight: 700;
  font-family: "Roboto Mono", monospace;
}

.square-header > button {
  position: absolute;
  top: 1.5rem;
  border: none;
  outline: none;
  right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
}